<body>

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="container narrow-form-container">
        <h1>Add a new entry</h1>
    <%= form_with model: @entry, url: entries_path, data: { turbo: false } do |form| %>

    <div class="mb-3">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="mb-3">
        <%= form.label :content %>
        <%= form.text_field :content, class: "form-control", placeholder: "Description" %>
    </div>
    <div>
  <%= form.label :image %>
  <div class="d-flex align-items-center mb-2">
    <label for="file-upload" class="btn btn-lg btn-secondary">
      Choose File
    </label>
    <%= form.file_field :image, id: "file-upload", class: "form-control mb-0 ms-2 visually-hidden" %>
  </div>
</div>
    <div class="mb-3">
        <%= form.submit "Submit Entry", class: "btn btn-lg btn-secondary" %>
    </div>

    <% end %>
    </div>
  </div>
</body>